In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.2.4

In [3]:
#Pandas Series
a=[1,2,3,4]
c=pd.Series(a)
print(c)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#The value are labeled as 0,1,2......
print(c[0])
print(c[1])
print(c[:-1])

1
2
0    1
1    2
2    3
dtype: int64

In [5]:
#To label the values
a=['one','two','three','four']
c=pd.Series(a,index=[1,2,3,4])
print(c)

1      one
2      two
3    three
4     four
dtype: object

In [8]:
c=pd.DataFrame(a)
print(c)

       0
0    one
1    two
2  three
3   four

In [7]:
print(a[1])
print(a[:4])

two
['one', 'two', 'three', 'four']

In [2]:
#Dictoniary
a={'sal1':100,'sal2':200,'sal3':300}
c=pd.Series(a)
print(c)

sal1    100
sal2    200
sal3    300
dtype: int64

In [3]:
#DataFrame
#Multiple array
a={'sal1':[100,34,23,67,89],'sal2':[34,2,33,44,200],'sal3':[300,86,91,75,22]}
c=pd.DataFrame(a)
print(c)

   sal1  sal2  sal3
0   100    34   300
1    34     2    86
2    23    33    91
3    67    44    75
4    89   200    22

In [13]:
print(c.loc[0])
print()
print(c.loc[1])
print()
print(c.loc[[0,2,4]])

sal1    100
sal2     34
sal3    300
Name: 0, dtype: int64

sal1    34
sal2     2
sal3    86
Name: 1, dtype: int64

   sal1  sal2  sal3
0   100    34   300
2    23    33    91
4    89   200    22

In [15]:
#CSV=(Comma Seprated values)
#To read a csv file
x=pd.read_csv('data.csv')
print(x)

   sal1  sal2   sal3
0   100    200   300
1    34      2    86
2    23     33    76
3    67     44   454
4    80     36    22

In [16]:
#To convert the data into string
print(x.to_string())

   sal1  sal2   sal3
0   100    200   300
1    34      2    86
2    23     33    76
3    67     44   454
4    80     36    22

In [ ]:
#JSON(JavaScript Object Notation)
#It is a extension of file used in web-d to tranfer the data from server to 
#website(or vice versa)

In [19]:
x={
    "person1":{
        "name":"jayesh",
        "age":25},
    
    "person2":{
        "name":"hello",
        "age":21},
    
    "person3":{
        "name":"wait",
        "age":23},
    
    "person4":{
        "name":"byee",
        "age":20}
  }

In [20]:
a=pd.DataFrame(x)
print(a)

     person1 person2 person3 person4
name  jayesh   hello    wait    byee
age       25      21      23      20

# Analysing the data

In [21]:
x=pd.read_csv('data.csv')

In [25]:
#header only(from top)
print(x.head(1))
print()
print(x.head(2))

   sal1  sal2   sal3
0   100    200   300

   sal1  sal2   sal3
0   100    200   300
1    34      2    86

In [26]:
#Tail method(from bottom)
print(x.tail(1))
print()
print(x.tail(2))

   sal1  sal2   sal3
4    80     36    22

   sal1  sal2   sal3
3    67     44   454
4    80     36    22

In [29]:
file=pd.read_csv('Sample.csv')
print(file)

                  country_code  \
0                           AD
1                           AE
2                           AF
3                           AG
4                           AI
..                         ...
253              TOT (OMT CIF)
254              TOT (OMT FOB)
255              TOT (OMT VFD)
256            TOT (BoP basis)
257  BoP conceptual adjustment

                                         country_label
0                                              Andorra
1                                 United Arab Emirates
2                                          Afghanistan
3                                  Antigua and Barbuda
4                                             Anguilla
..                                                 ...
253  Total goods - cost including insurance and fre...
254                        Total goods - free on board
255                       Total goods - value for duty
256            Total goods - Balance of Payments basis
257          Balance of Payments conceptual adjustment

[258 rows x 2 columns]

In [30]:
#dropna command is used to remove blank columns and rows.
#changing the orginal data into another variable.
a=file.dropna()
print(a)

                  country_code  \
0                           AD
1                           AE
2                           AF
3                           AG
4                           AI
..                         ...
253              TOT (OMT CIF)
254              TOT (OMT FOB)
255              TOT (OMT VFD)
256            TOT (BoP basis)
257  BoP conceptual adjustment

                                         country_label
0                                              Andorra
1                                 United Arab Emirates
2                                          Afghanistan
3                                  Antigua and Barbuda
4                                             Anguilla
..                                                 ...
253  Total goods - cost including insurance and fre...
254                        Total goods - free on board
255                       Total goods - value for duty
256            Total goods - Balance of Payments basis
257          Balance of Payments conceptual adjustment

[257 rows x 2 columns]

In [32]:
print(file.to_string())

                  country_code                                        country_label
0                           AD                                              Andorra
1                           AE                                 United Arab Emirates
2                           AF                                          Afghanistan
3                           AG                                  Antigua and Barbuda
4                           AI                                             Anguilla
5                           AL                                              Albania
6                           AM                                              Armenia
7                           AO                                               Angola
8                           AQ                                           Antarctica
9                           AR                                            Argentina
10                          AS                                      Samoa, American
11                          AT                                              Austria
12                          AU                                            Australia
13                          AW                                                Aruba
14                          AZ                                           Azerbaijan
15                          BA                               Bosnia and Herzegovina
16                          BB                                             Barbados
17                          BD                                           Bangladesh
18                          BE                                              Belgium
19                          BF                                         Burkina Faso
20                          BG                                             Bulgaria
21                          BH                                              Bahrain
22                          BI                                              Burundi
23                          BJ                                                Benin
24                          BM                                              Bermuda
25                          BN                                    Brunei Darussalam
26                          BO                                              Bolivia
27                          BR                                               Brazil
28                          BS                                              Bahamas
29                          BT                                               Bhutan
30                          BW                                             Botswana
31                          BY                                              Belarus
32                          BZ                                               Belize
33                          CA                                               Canada
34                          CC                              Cocos (Keeling) Islands
35                          CD                Congo, the Democratic Republic of the
36                          CF                             Central African Republic
37                          CG                                                Congo
38                          CH                                          Switzerland
39                          CI                                        Cote d'Ivoire
40                          CK                                         Cook Islands
41                          CL                                                Chile
42                          CM                                             Cameroon
43                          CN                          China, People's Republic of
44                          CO                                             Colombia
45                          CR                                           Costa Rica
46                          CU                                                 Cuba
47                          CV                                           Cabo Verde
48                          CW                                              Curacao
49                          CX                                     Christmas Island
50                          CY                                               Cyprus
51                          CZ                                              Czechia
52                          DE                                              Germany
53                          DJ                                             Djibouti
54                          DK                                              Denmark
55                          DM                                             Dominica
56                          DO                                   Dominican Republic
57                          DZ                                              Algeria
58                          EC                                              Ecuador
59                          EE                                              Estonia
60                          EG                                                Egypt
61                          EH                                       Western Sahara
62                          EN                                              England
63                          ER                                              Eritrea
64                          ES                                                Spain
65                          ET                                             Ethiopia
66                          FI                                              Finland
67                          FJ                                                 Fiji
68                          FK                                     Falkland Islands
69                          FM                      Micronesia, Federated States of
70                          FO                                       Faeroe Islands
71                          FR                                               France
72                          GA                                                Gabon
73                          GB                                       United Kingdom
74                          GD                                              Grenada
75                          GE                                              Georgia
76                          GF                                        French Guiana
77                          GH                                                Ghana
78                          GI                                            Gibraltar
79                          GJ                                      Channel Islands
80                          GL                                            Greenland
81                          GM                                               Gambia
82                          GN                                               Guinea
83                          GP                                           Guadeloupe
84                          GQ                                    Equatorial Guinea
85                          GR                                               Greece
86                          GS         South Georgia and the South Sandwich Islands
87                          GT                                            Guatemala
88                          GU                                                 Guam
89                          GW                                        Guinea-Bissau
90                          GY                                               Guyana
91                          HI                                             Scotland
92                          HK            Hong Kong (Special Administrative Region)
93                          HN                                             Honduras
94                          HR                                              Croatia
95                          HT                                                Haiti
96                          HU                                              Hungary
97                          ID                                            Indonesia
98                          IE                                              Ireland
99                          IL                                               Israel
100                         IM                                          Isle of Man
101                         IN                                                India
102                         IO                       British Indian Ocean Territory
103                         IQ                                                 Iraq
104                         IR                                                 Iran
105                         IS                                              Iceland
106                         IT                                                Italy
107                         JM                                              Jamaica
108                         JO                                               Jordan
109                         JP                                                Japan
110                         KE                                                Kenya
111                         KG                                           Kyrgyzstan
112                         KH                                             Cambodia
113                         KI                                             Kiribati
114                         KM                                              Comoros
115                         KN                                   St Kitts and Nevis
116                         KP               Korea, Democratic People's Republic of
117                         KR                                   Korea, Republic of
118                         KW                                               Kuwait
119                         KX                                               Kosovo
120                         KY                                       Cayman Islands
121                         KZ                                           Kazakhstan
122                         LA                                                 Laos
123                         LB                                              Lebanon
124                         LC                                             St Lucia
125                         LI                                        Liechtenstein
126                         LK                                            Sri Lanka
127                         LR                                              Liberia
128                         LS                                              Lesotho
129                         LT                                            Lithuania
130                         LU                                           Luxembourg
131                         LV                                               Latvia
132                         LY                                                Libya
133                         MA                                              Morocco
134                         MC                                               Monaco
135                         MD                                              Moldova
136                         ME                                           Montenegro
137                         MG                                           Madagascar
138                         MH                                     Marshall Islands
139                         MK                                      North Macedonia
140                         ML                                                 Mali
141                         MM                                              Myanmar
142                         MN                                             Mongolia
143                         MO                Macau (Special Administrative Region)
144                         MP                             Northern Mariana Islands
145                         MQ                                           Martinique
146                         MR                                           Mauritania
147                         MS                                           Montserrat
148                         MT                                                Malta
149                         MU                                            Mauritius
150                         MV                                             Maldives
151                         MW                                               Malawi
152                         MX                                               Mexico
153                         MY                                             Malaysia
154                         MZ                                           Mozambique
155                        NaN                                              Namibia
156                         NC                                        New Caledonia
157                         ND                                     Northern Ireland
158                         NE                                                Niger
159                         NF                                       Norfolk Island
160                         NG                                              Nigeria
161                         NI                                            Nicaragua
162                         NL                                          Netherlands
163                         NO                                               Norway
164                         NP                                                Nepal
165                         NR                                                Nauru
166                         NU                                                 Niue
167                         NZ                                          New Zealand
168                         OM                                                 Oman
169                         PA                                               Panama
170                         PE                                                 Peru
171                         PF                                     French Polynesia
172                         PG                                     Papua New Guinea
173                         PH                                          Philippines
174                         PK                                             Pakistan
175                         PL                                               Poland
176                         PM                               St Pierre and Miquelon
177                         PN                                             Pitcairn
178                         PR                                          Puerto Rico
179                         PS                       Gaza Strip/Palestine/West Bank
180                         PT                                             Portugal
181                         PW                                                Palau
182                         PY                                             Paraguay
183                         QA                                                Qatar
184                         RE                                              Reunion
185                         RO                                              Romania
186                         RS                                               Serbia
187                         RU                                               Russia
188                         RW                                               Rwanda
189                         SA                                         Saudi Arabia
190                         SB                                      Solomon Islands
191                         SC                                           Seychelles
192                         SD                                                Sudan
193                         SE                                               Sweden
194                         SG                                            Singapore
195                         SH                                            St Helena
196                         SI                                             Slovenia
197                         SK                                             Slovakia
198                         SL                                         Sierra Leone
199                         SM                                           San Marino
200                         SN                                              Senegal
201                         SO                                              Somalia
202                         SR                                             Suriname
203                         SS                                          South Sudan
204                         ST                                Sao Tome and Principe
205                         SV                                          El Salvador
206                         SX                              St Maarten (Dutch Part)
207                         SY                                                Syria
208                         SZ                                             Eswatini
209                         TC                             Turks and Caicos Islands
210                         TD                                                 Chad
211                         TF                          French Southern Territories
212                         TG                                                 Togo
213                         TH                                             Thailand
214                         TJ                                           Tajikistan
215                         TK                                              Tokelau
216                         TL                                          Timor-Leste
217                         TM                                         Turkmenistan
218                         TN                                              Tunisia
219                         TO                                                Tonga
220                         TR                                               Turkey
221                         TT                                  Trinidad and Tobago
222                         TV                                               Tuvalu
223                         TW                                               Taiwan
224                         TZ                                             Tanzania
225                         UA                                              Ukraine
226                         UG                                               Uganda
227                         UM                 United States Minor Outlying Islands
228                         US                             United States of America
229                         UY                                              Uruguay
230                         UZ                                           Uzbekistan
231                         VA                                   Vatican City State
232                         VC                        St Vincent and the Grenadines
233                         VE                                            Venezuela
234                         VG                              Virgin Islands, British
235                         VI                        Virgin Islands, United States
236                         VN                                             Viet Nam

In [33]:
#Changing the orginal data
file.dropna(inplace=True)

In [35]:
#To replace the empty data sets (fillna)
file.fillna(120,inplace=True)
print(file)

                  country_code  \
0                           AD
1                           AE
2                           AF
3                           AG
4                           AI
..                         ...
253              TOT (OMT CIF)
254              TOT (OMT FOB)
255              TOT (OMT VFD)
256            TOT (BoP basis)
257  BoP conceptual adjustment

                                         country_label
0                                              Andorra
1                                 United Arab Emirates
2                                          Afghanistan
3                                  Antigua and Barbuda
4                                             Anguilla
..                                                 ...
253  Total goods - cost including insurance and fre...
254                        Total goods - free on board
255                       Total goods - value for duty
256            Total goods - Balance of Payments basis
257          Balance of Payments conceptual adjustment

[257 rows x 2 columns]

In [ ]:
#Only for a specific coloumn
#Calories
file['column name'].fillna(120,inplace=True)
print(file)

In [ ]:
#mean of a specific coloumn
y=file['column name'].mean()
print(y)

#use the avearge value
file['column name'].fillna(y,inplace=True)

In [ ]:
#Wrong data or Wrong format 
#Converting date in proper format
x=pd.read_csv("dirt.csv")
x["Date"]=pd.to_datetime(x["Date"])
print(x)
#(Nnan->Nat)

In [ ]:
#To change some values of specific location
x=pd.read_csv("dirt.csv")
x.loc[7,"Maxpulse"]=88
print(x)


for a in x.index:
    if x.loc[a,"Maxpulse"]>120:
        x.loc[a,"Maxpulse"]=100

In [ ]:
#Remove Duplicate the data
x=pd.read_csv("dirt.csv")
print(x.duplicated())             #to see the duplicate data

In [2]:
#Fiding the relation between two col.
f=pd.read_csv("data.csv")
print(f.corr())

           sal1     sal2       sal3
sal1   1.000000  0.749765  0.419717
sal2   0.749765  1.000000  0.425531
sal3   0.419717  0.425531  1.000000