In [2]:
import sqlite3

In [3]:
#Connecting the database 
#Creating the database (file name)
con=sqlite3.connect("DBtesting1.csv")

execute keyword is used to run sql command

In [6]:
#Create Table
con.execute('''CREATE TABLE COMPANY (empid INT PRIMARY KEY NOT NULL,name TEXT NOT NULL,post TEXT NOT NULL,salary INT NOT NULL)''');

In [ ]:
#INT TEXT CHAR(size)
#PRIMARY KEY
#NOT NULL

In [8]:
#if table already exits
con.execute('''CREATE TABLE IF NOT EXISTS COMPANY (empid INT PRIMARY KEY NOT NULL,name TEXT NOT NULL,post TEXT NOT NULL,salary INT NOT NULL)''');

In [9]:
#commit keyword is used to insert data/reflect the data into database file

In [11]:
#Inserting the data
con.execute("INSERT INTO COMPANY (empid,name,post,salary) VALUES(1,'a','SI','10')");
con.execute("INSERT INTO COMPANY (empid,name,post,salary) VALUES(2,'b','HC','15')");
con.execute("INSERT INTO COMPANY (empid,name,post,salary) VALUES(3,'c','C','20')");
con.execute("INSERT INTO COMPANY (empid,name,post,salary) VALUES(4,'d','DSP','25')");
con.execute("INSERT INTO COMPANY (empid,name,post,salary) VALUES(5,'e','I','30')");

con.commit()

In [12]:
#Displaying the database
#first we have to create a variable to iterate
data=con.execute("SELECT empid,name,post,salary from COMPANY");
for row in data:
    print("EMP ID:-",row[0])
    print("Name:-",row[1])
    print("POST:-",row[2])
    print("SALARY:-",row[3])
    print()

EMP ID:- 1
Name:- a
POST:- SI
SALARY:- 10

EMP ID:- 2
Name:- b
POST:- HC
SALARY:- 15

EMP ID:- 3
Name:- c
POST:- C
SALARY:- 20

EMP ID:- 4
Name:- d
POST:- DSP
SALARY:- 25

EMP ID:- 5
Name:- e
POST:- I
SALARY:- 30

In [15]:
#Updating the existing data
con.execute("UPDATE COMPANY set salary=10000,post='officer' where empid=5")
con.commit()

In [16]:
data=con.execute("SELECT empid,name,post,salary from COMPANY");
for row in data:
    print("EMP ID:-",row[0])
    print("Name:-",row[1])
    print("POST:-",row[2])
    print("SALARY:-",row[3])
    print()

EMP ID:- 1
Name:- a
POST:- SI
SALARY:- 10

EMP ID:- 2
Name:- b
POST:- HC
SALARY:- 15

EMP ID:- 3
Name:- c
POST:- C
SALARY:- 20

EMP ID:- 4
Name:- d
POST:- DSP
SALARY:- 25

EMP ID:- 5
Name:- e
POST:- officer
SALARY:- 10000

In [17]:
#Deleting the data from the table
con.execute("DELETE from COMPANY where empid=2");
con.commit()

In [18]:
data=con.execute("SELECT empid,name,post,salary from COMPANY");
for row in data:
    print("EMP ID:-",row[0])
    print("Name:-",row[1])
    print("POST:-",row[2])
    print("SALARY:-",row[3])
    print()

EMP ID:- 1
Name:- a
POST:- SI
SALARY:- 10

EMP ID:- 3
Name:- c
POST:- C
SALARY:- 20

EMP ID:- 4
Name:- d
POST:- DSP
SALARY:- 25

EMP ID:- 5
Name:- e
POST:- officer
SALARY:- 10000

In [20]:
id=5
a=con.execute("SELECT empid from COMPANY");
for row in a:
    if row[0]==id:
        print("Empolyee already exists")

Empolyee already exists

In [21]:
sql="SELECT * from COMPANY where empid=?";
data=(5,)
a=con.execute(sql,data)
for i in a:
    print(i)

(5, 'e', 'officer', 10000)